/* form to add habit */
#add-habit-form{
    /* display: none; */
    position: relative;
    top: 19%;
    display: none;
    left:40%;
    background-color: rgb(216, 223, 230);
    z-index: 1;
    width: 25%;
    padding: 2% !important;
}
/* add habbits button */
#btn-add-habit{
    position: absolute;
    top:60%;
    left: 40%;
    z-index: 1;
}
/* streak button */
#btn-streak{
    position: absolute;
    justify-self: center;
    top:60%;
    right: 40%;
   
}
/* styling box */
#box{
    margin-top: 3%;
    padding: 3% !important;
}

/* box containing habits */
#box ul{
    max-height: 60vh;
    overflow-y:auto;
}
/* list iems showing habits */
#habits li{
    display: flex;
    flex-direction: column;
}
/* info for a particular habit */
.habit-info{
    display: flex;
    justify-content: space-between;
}
.habit-info h4{
    text-transform: capitalize;
    margin: 0;
}
/* the streak for a particular habit in list */
.habit-streak{
    margin-right:2% ;
    margin-left: 2%;
}
.habit-streak p{
    margin: 0;
}
.checked{
    text-decoration: line-through;
}
/* Streak button */
#streak-container{
    display: inline-block;
}


@media screen and (max-width: 1445px) {
    /* CSS rules for screens with a maximum width of 768 pixels */
    #btn-add-habit{
        position: absolute;
        left: 20%;
    }
    /* streak button */
    #btn-streak{
        position: absolute;
        right: 20%;
       
    }
  }
  @media screen and (max-width: 400px) {
    /* CSS rules for screens with a maximum width of 768 pixels */
    #btn-add-habit{
        position: absolute;
        left: 2%;
    }
    /* streak button */
    #btn-streak{
        position: absolute;
        right: 2%;
       
    }
  }