/* making body margin 0 */
body {
  margin: 0;
  text-align: center;
}
.w-25 {
  width: 3.5rem !important;
}



@media screen and (max-width: 992px) {
  /* CSS rules for screens with a maximum width of 768 pixels */
  .search {
    margin-top: -8%;
    border-radius: 3px;
  }
  .navbar-collapse {
    display: flex;
    justify-content: space-between !important;
  }
  .nav-link{
    display: inline;
  }
  ul {
    margin-right: auto;
    padding: 0 !important;
    
  }
}
